{% extends 'base.html.twig' %}

{% block body %}
    <h2>contextLength:</h2>
    {{ contextLength }}
    <h2>expected:</h2>
    {{ expected }}
    <h2>actual:</h2>
    {{ actual }}
    <h2>result:</h2>
    {{ result }}
{% endblock %}
